{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier", "prettier/react"],
  "plugins": ["react", "react-hooks", "prettier"],
  "env": {
    "jest": true,
    "browser": true
  }
}
